version: '3.8'
services:
    php-apache-environment:
        container_name: php-apache
        build:
            context: ./php
            dockerfile: Dockerfile
        depends_on:
            - mysql-database
        volumes:
            - ./php/src:/var/www/html/
        ports:
            - 8000:80
    db:
        container_name: mysql-database
        image: mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: tmppass
            MYSQL_DATABASE: sitedb
            MYSQL_USER: mysqladmin
            MYSQL_PASSWORD: mysqladmin
        ports:
            - "9906:3306"
