haproxy:
    image: haproxy:3.8
    container_name: haproxy_web
    restart: always
    volumes:
        - ./haproxy:/haproxy-override
        - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
        - "80:80"
        - "70:70"


